{% extends 'index.html' %}
{% load static %}
{% block title %}Home - P.M{% endblock title %}
{% block main %}
    <!-- BOF MAIN -->
    <div class="main">

        <!-- BOF Breadcrumb -->
        <div class="row">
            <div class="col">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:;"><i class="ti-home"></i> Dashboard</a></li>
                </ol>
            </div>
        </div>
        <!-- EOF Breadcrumb -->

        <!-- BOF MAIN-BODY -->
        <div class="row">
            <div class="col-md-4">
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="icon-left text-secondary"><i class="ti-bar-chart"></i></div>
                        <div class="number-right text-right">
                            <h6 class="bold text-secondary">Monthly Goal</h6>
                            <h3 class="card-title text-warning bold">$74,502</h3>
                        </div>
                        <div class="progress progress-bar-sm">
                            <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar" style="width: 75%" aria-valuenow="75"
                                aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <div class="progress-text text-secondary">
                            <span class="float-left"><small>$0</small></span>
                            <span class="float-right"><small>$100,000</small></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="icon-left text-secondary"><i class="ti-receipt"></i></div>
                        <div class="number-right text-right">
                            <h6 class="bold text-secondary">Monthly Orders</h6>
                            <h3 class="card-title text-primary bold">9,432</h3>
                        </div>
                        <div class="progress progress-bar-sm">
                            <div class="progress-bar bg-primary" role="progressbar" style="width: 100%" aria-valuenow="100"
                                aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <div class="progress-text text-secondary">
                            <span class="float-left"><small>Total Monthly Orders</small></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="icon-left text-secondary"><i class="ti-wallet"></i></div>
                        <div class="number-right text-right">
                            <h6 class="bold text-secondary">Monthly Expenses</h6>
                            <h3 class="card-title text-bubblegum bold">$2,942</h3>
                        </div>
                        <div class="progress progress-bar-sm">
                            <div class="progress-bar progress-bar-striped progress-bar-animated bg-bubblegum" role="progressbar" style="width: 30%" aria-valuenow="30"
                                aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <div class="progress-text text-secondary">
                            <span class="float-left"><small>0%</small></span>
                            <span class="float-right"><small>100%</small></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="card mb-3">
                    <div class="card-header">
                        <div class="caption uppercase">
                            <i class="ti-id-badge"></i> Personal Details - Key Value Data 
                        </div>
                        <div class="tools">
                            <a class="btn btn-sm btn-primary" data-toggle="modal" data-target="#addKeyValue" id="btn-addrow"><i class="ti-plus"></i> Click To Add New Key Data</a>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover" id="dt-addrows">
                                <thead class="thead-light" id="key-value-data-head">
                                </thead>
                                <tbody id="key-value-data-body">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <!-- Product Sales Chart -->
            <div class="col-md-6">
                <div class="card mb-3">
                    <div class="card-body" id="product-sales-chart"></div>
                </div>
            </div>

            <!-- Expenses Chart -->
            <div class="col-md-6">
                <div class="card mb-3">
                    <div class="card-body" id="expenses-chart"></div>
                </div>
            </div>
        </div>

        <div class="row">
            <!-- Company Timeline -->
            <div class="col-md-6">
                <div class="card mb-3">
                    <div class="card-header">
                        <div class="caption text-primary">
                            <i class="ti-panel"></i> Company Timeline
                        </div>
                    </div>
                    <div class="card-body scrollbox-md" data-simplebar>
                        <div class="timeline-wrapper">
                            <div class="timeline-item" data-date="04-22-2020">
                                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptates quam nisi distinctio dolorum est tempora.</p>
                                <a href="javascript:;" class="btn btn-sm btn-primary">More Info</a>
                            </div>
                            <div class="timeline-item" data-date="04-16-2020">
                                <p>Completed dashboard layout and add all required widgets.</p>
                            </div>
                            <div class="timeline-item" data-date="04-14-2020">
                                <p>Added new page to UI Element category. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit officiis ut natus et minima expedita.</p>
                                <a href="javascript:;" class="btn btn-sm btn-primary">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Recent Memebers -->
            <div class="col-md-6">
                <div class="card mb-3">
                    <div class="card-header">
                        <div class="caption text-primary">
                            <i class="ti-user"></i> Recent Members
                        </div>
                        <div class="tools">
                            <a href="javascript:;" class="btn btn-sm btn-outline-primary"><i class="ti-import" data-toggle="tooltip" title="Download List"></i></a>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-4 mb-3 mb-md-0">
                                <div class="card">
                                    <img src="{% static 'assets/img/profile/profile-01.jpg' %}" alt="" class="card-img-top">
                                    <div class="card-body p-2 text-center">
                                        <h5 class="card-title">Jason Crispy</h5>
                                        <p class="card-text font-size-12">Lorem Ipsum text placeholder.</p>
                                        <a href="javascript:;" class="card-link"><i class="ti-twitter"></i> 3.5k</a>
                                        <a href="javascript:;" class="card-link"><i class="ti-facebook"></i> 2.4k</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 mb-3 mb-md-0">
                                <div class="card">
                                    <img src="{% static 'assets/img/profile/profile-02.jpg' %}" alt="" class="card-img-top">
                                    <div class="card-body p-2 text-center">
                                        <h5 class="card-title">Bob OfHope</h5>
                                        <p class="card-text font-size-12">Lorem Ipsum text placeholder.</p>
                                        <a href="javascript:;" class="card-link"><i class="ti-twitter"></i> 4.1k</a>
                                        <a href="javascript:;" class="card-link"><i class="ti-facebook"></i> 7.2k</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 mb-3 mb-md-0">
                                <div class="card">
                                    <img src="{% static 'assets/img/profile/profile-03.jpg' %}" alt="" class="card-img-top">
                                    <div class="card-body p-2 text-center">
                                        <h5 class="card-title">Dana Squash</h5>
                                        <p class="card-text font-size-12">Lorem Ipsum text placeholder.</p>
                                        <a href="javascript:;" class="card-link"><i class="ti-twitter"></i> 6.1k</a>
                                        <a href="javascript:;" class="card-link"><i class="ti-facebook"></i> 5.5k</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- EOF MAIN-BODY -->
    </div>
    <!-- EOF MAIN -->

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            initializeDashboard();
        });

        function initializeDashboard() {
            getKeyValueData();
        }
    </script>
{% endblock %}
