{% extends 'index.html' %}
{% load static %}
{% block title %}Testimonials - P.M{% endblock title %}
{% block main %}
    <!-- BOF MAIN -->
    <div class="main">

        <!-- BOF Breadcrumb -->
        <div class="row">
            <div class="col">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:;"><i class="ti-home"></i> Dashboard</a></li>
                </ol>
            </div>
        </div>
        <!-- EOF Breadcrumb -->
        <div class="row">
            <div class="col">
                <div class="card mb-3">
                    <div class="card-header">
                        <div class="caption uppercase">
                            <i class="ti-briefcase"></i> Approved Testimonials
                        </div>
                        <div class="tools">
                            <span data-toggle="modal" data-target="#addKeyValue" class="btn btn-sm btn-primary"><i class="ti-plus"></i></span>
                            <span class="btn btn-outline-secondary"><i class="ti-settings"></i></span>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover init-datatable">
                                <thead class="thead-light">
                                    <tr>
                                        <th>ID</th>
                                        <th>NAME</th>
                                        <th>PROFILE</th>
                                        <th>TESTIMONIAL</th>
                                        <th>ACTION</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for data in approved_testimonials %}
                                    <tr>
                                        <td>{{ data.id }}</td>
                                        <td>{{ data.name }}</td>
                                        <td style="display: flex; justify-content: center;"><img style="width: 100px;" src="{{ data.photo }}" alt="{{ data.name }}" class="img-fluid"></td>
                                        <td>
                                            <button style="margin: 20px;" class="btn btn-outline-info" id="{{ data.id }}" onclick="viewTestimonial(this.id)" title="View Details">
                                                <i class="ti-info-alt"></i>
                                            </button>
                                        </td>
                                        <td style="margin: auto;">
                                            <a href="/disapprove-testimonial/{{ data.id }}" style="margin: 20px;" class="btn btn-outline-warning" title="Disapprove">
                                                <i class="ti-close"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="card mb-3">
                    <div class="card-header">
                        <div class="caption uppercase">
                            <i class="ti-briefcase"></i> Waiting for Approval
                        </div>
                        <div class="tools">
                            <span data-toggle="modal" data-target="#addKeyValue" class="btn btn-sm btn-primary"><i class="ti-plus"></i></span>
                            <span class="btn btn-outline-secondary"><i class="ti-settings"></i></span>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover init-datatable">
                                <thead class="thead-light">
                                    <tr>
                                        <th>ID</th>
                                        <th>NAME</th>
                                        <th>PROFILE</th>
                                        <th>TESTIMONIAL</th>
                                        <th>ACTION</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for data in non_approved_testimonials %}
                                    <tr>
                                        <td>{{ data.id }}</td>
                                        <td>{{ data.name }}</td>
                                        <td style="display: flex; justify-content: center;"><img style="width: 100px;" src="{{ data.photo }}" alt="{{ data.name }}" class="img-fluid"></td>
                                        <td>
                                            <button class="btn btn-outline-info" title="View Details">
                                                <i class="ti-info-alt"></i>
                                            </button>
                                        </td>
                                        <td>
                                            <a href="/approve-testimonial/{{ data.id }}" style="margin: 20px;" class="btn btn-outline-success" title="Approve"><i class="ti-check"></i></a>
                                            <a href="/disable-testimonial/{{ data.id }}" style="margin: 20px;" class="btn btn-outline-danger" title="Disable"><i class="ti-na"></i></a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="card mb-3">
                    <div class="card-header">
                        <div class="caption uppercase">
                            <i class="ti-briefcase"></i> Disabled Testimonials
                        </div>
                        <div class="tools">
                            <span data-toggle="modal" data-target="#addKeyValue" class="btn btn-sm btn-primary"><i class="ti-plus"></i></span>
                            <span class="btn btn-outline-secondary"><i class="ti-settings"></i></span>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover init-datatable">
                                <thead class="thead-light">
                                    <tr>
                                        <th>ID</th>
                                        <th>NAME</th>
                                        <th>PROFILE</th>
                                        <th>TESTIMONIAL</th>
                                        <th>ACTION</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for data in disabled_testimonials %}
                                    <tr>
                                        <td>{{ data.id }}</td>
                                        <td>{{ data.name }}</td>
                                        <td style="display: flex; justify-content: center;"><img style="width: 100px;" src="{{ data.photo }}" alt="{{ data.name }}" class="img-fluid"></td>
                                        <td>
                                            <button class="btn btn-outline-info" title="View Details">
                                                <i class="ti-info-alt"></i>
                                            </button>
                                        </td>
                                        <td>
                                            <a href="/enable-testimonial/{{ data.id }}" style="margin: 20px;" class="btn btn-outline-success" title="Enable"><i class="ti-check"></i></a>
                                            <a href="/delete-testimonial/{{ data.id }}" style="margin: 20px;" class="btn btn-outline-danger" title="Delete"><i class="ti-trash"></i></a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- EOF MAIN -->
{% endblock %}
